:root {
    --headingFont: "Source Sans Pro", Helvetica, sans-serif;
    --bodyFont: "Merriweather", Georgia, serif;
    --bodyFontItalics: "Merriweather-italics", Georgia, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: var(--bodyFont);
    font-size: 16px;
    line-height: 38px; 
    color: #212931;
}

#main-title-area {
    background-image: linear-gradient(rgba(33, 41, 49, 0.8), rgba(30, 37, 45, 0.8)), url("../assets/images/bg.jpg");
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-div {
    width: 50%;
    flex-grow: 1;
    height: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title {
    font-size: 80px;
    line-height: 80px;
    font-family: var(--headingFont);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;

}

.main-desc {
    font-family: var(--bodyFontItalics);
    margin-bottom: 20px;
}

.main-down-arrow {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 8px 20px;
}

.main-down-arrow:hover {
    background-color: #ffffff;
    color: #212931;
    transition: all 0.3s ease-in;
}

.navbar {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: rgba(238, 238, 238, 0.2);
}

.navlink {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--headingFont);
    height: 100%;
    font-size: 12.8px;
    line-height: 19.2px;
    padding: 20px;
    
}

.navlink:hover, .selected-link {
    background-color: #ffffff;
    color: #212931;
}
#article-area {
    background-color: #1e252d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-container {
    background-color: #ffffff;
    width: 80%;
    padding-top: 40px;
}
.main-article {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.main-article h2 {
    font-family: var(--headingFont);
    font-size: 64px;
    line-height: 70.4px;
    color: #212931;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 80%;
}
.main-article h4 {
    margin: 50px 0 80px 0;
    font-weight: 600;
    border-bottom: 2px solid #eeeeee;
    line-height: 0.1em;
    width: 100%;
}
.main-article .date {
    padding: 0px 45px;
    background-color: #ffffff;
    
}

.main-article p {
    margin: 40px 0;
    width: 70%;
    font-family: var(--bodyFontItalics);
}

.main-article img {
    margin: 20px 0 50px 0;
    width: 100%;
}

.full-story-btn {
    color: #212931;
    background-color: #ffffff;
    border: 2px solid #212931; 
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--headingFont);
    padding: 6px 40px;
    letter-spacing: 1px;
}
.full-story-btn:hover {
    color: #ffffff;
    background-color: #212931;
    transition: all 0.3s ease-in;
}
.other-article {
    display: flex;
    flex-wrap: wrap;
}
.other-article-container {
    width: 50%;
    padding: 50px 60px;
    border-top: 2px solid #eeeeee;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-article-container:nth-child(odd) {
    border-right: 2px solid #eeeeee;
}

.other-article-container:last-child {
    border-bottom: 2px solid #eeeeee;
}

.other-article-container:nth-last-child(-n+2) {
    border-bottom: 2px solid #eeeeee;
}

.other-article-container > .date {
    font-weight: 600;
    font-size: 12.8px;
    margin: 5px 0 15px 0;
}

.other-article-container > h3 {
    text-transform: uppercase;
    font-family: var(--headingFont);
    font-weight: 900;
    font-size: 28px;
    width: 70%;
    letter-spacing: 2px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px; 
}

.other-article-container > img {
    width: 100%;
    margin: 10px 0;
}

.other-article-container > p {
    margin: 30px 0;
}

.other-article-container > .full-story-btn {
    padding: 3px 30px;
    font-size: 12.8px;
    letter-spacing: 0;
}

@media only screen and (max-width: 720px) {
    .main-desc {
        width: 80%;
    }
    .main-desc h1 {
        font-size: 56px;
        line-height: 64px;
    }
    .main-desc p {
        font-size: 15px;
    }
    .main-desc a {
        display: none;
    }
    .navbar {
        display: none;
    }
    .article-container {
        width: 100%;
    }
    .other-article-container {
        width: 100%;
        text-align: justify;
        padding: 30px;
        font-size: 14px;
    }
    .other-article-container h3 {
        font-size: 22px;
        width: 90%;
    }

    .other-article-container a {
        width: 100%;
        text-align: center;
    }
    .main-article {
        width: 90%;
        margin-bottom: 75px;
    }
    .main-article h2 {
        font-size: 42px;
        line-height: 54px;
    }
    .main-article p {
        font-size: 15px;
        line-height: 32px;
        width: 95%;
        margin: 20px 0;
    }
    .main-article img {
        width: 95%;
        margin-bottom: 30px;
    }
    .main-article a {
        width: 95%;
        text-align: center;
    }
}
